   <% if flash[:notice] %>
     <p class="s-text" id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>
<h1>Booker</h1>
<h4>投稿一覧</h4>
<div class ="book-wrap">

<table>
<tr>
<th class="title1">title</th>
<th class="body1">body</th>
</tr>
</div>
<%@books.each do |book|%>
<div class ="book-wrap">
<tr>
<td class="book-title"><%=book.title%></td>
<td class="book-body"><%=book.body%></td>
<td class="link-menu"><%=link_to "Show",show_books_path(book)%></td>
<td class="link-menu"><%=link_to "Edit",edit_books_path(book)%></td>
<td class="link-menu"><%=link_to "Destroy",destroy_books_path(book),method: :delete ,data: {confirm: "Are you sure?"}%></td>
</tr>
</div>
</table>
<%end%>



<h2>New book</h2>
<%=form_with model:@book,url:"books",local:true do |f|%>

<p>
<%= render 'layouts/error_messages', model: f.object%>
</p>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<%end%>